* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-duration: 1.5s;
  scrollbar-width: none;
  animation-iteration-count: 0;
}
.stop {
  animation-iteration-count: infinite;
}
header {
  background-color: rgba(252, 195, 82, 255);
  box-shadow: 1px 1px 9px 3px rgba(252, 195, 82, 255);
}
.logo {
  height: 120px;
  margin-left: 20px;
}
.logo img {
  height: 100%;
}
.post h1 {
  margin-top: 20px;
  display: flex;
  font-size: 5rem;
  color: brown;
  font-family:fantasy;
  letter-spacing: 5px;
  margin-right: 10px;
  }

.container {
  position: relative;
  margin: auto;
  max-width: 560px;
  padding-bottom: 200px;
}
.container h2 {
  margin-left: 66px;
  font-weight: bold;
  font-family: Verdana;
}
.container img {
  margin-left: 140px;
  height: 60%;
  width: 50%;
}
#Yes {
  position: absolute;
  top: 70%;
  left: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
  width: 100px;
  border-radius: 20px;
  background-color: rgba(252, 195, 82, 255);
  padding: 10px;
}
#NO {
  width: 100px;
  position: absolute;
  top: 70%;
  left: 59%;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  background-color: rgba(252, 195, 82, 255);
  padding: 10px;
}
.btns:hover {
  background-color: rgba(252, 195, 0, 255);
}
footer {
  background-color: rgba(252, 195, 82, 255);
  color: brown;
  padding: 30px;
  box-shadow: 1px 1px 10px 10px rgba(252, 195, 82, 255);
text-align: right;
}
footer h1 {
  font-family: serif;
  font-weight: bold;
}
footer a {
  color: brown;
  font-size: 2rem;
}
footer a:hover {
  color: rgba(255, 0, 0, 0.692);
}
footer h5 {
  font-family: Helvetica;
  font-weight: bold;
margin: 10px;
}
#hello{
  width: 100%;

}
.contain{
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}
#hello h1{
  margin: 30px 20px;
  color:brown;
  font-size: rem;
  font-family: Helvetica;
  font-weight: bold;
}
